body {
  background:#FFF;
}

body,html {
  font-family:serif;
  font-size:14px;
  margin:0;
  padding:0;
}

#container {
  margin-top:10px;
}

#entryForm,.container p {
  margin-top:14px;
}

.addMed {
  border:0 solid transparent;
}

.alert.alert-danger.loginError {
  border-radius:0;
  margin:0 auto;
  max-width:380px;
}

.borderRight {
  border-right:2px solid #312c32;
}

.col-md-12.inputForm {
  margin-bottom:25px;
}

.container legend {
  padding:15px;
}

.container td p {
  margin:0;
  padding:0;
}

.form-control {
  font-size:16px;
  height:auto;
  padding:10px;
  position:relative;
}

.form-signin {
  background-color:#fff;
  border:1px solid rgba(0,0,0,0.1);
  margin:0 auto;
  max-width:380px;
  padding:15px 35px 45px;
}

.form-signin .checkbox {
  font-weight:400;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
  margin-bottom:30px;
}

.form-signin input[type="password"] {
  border-top-left-radius:0;
  border-top-right-radius:0;
  margin-bottom:20px;
}

.form-signin input[type="text"] {
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  margin-bottom:-1px;
}
.horizontal-collapse {
    height: 70px;
  }
  .navbar-collapse.in {
    overflow-y: hidden;
    max-height: 2000px;

  }
  .navbar-collapse.collapse {
          display: block;
          overflow: hidden;
          max-height: 0px;
          -webkit-transition: max-height .3s ease;
          -moz-transition: max-height .3s ease;
          -o-transition: max-height .3s ease;
          transition: max-height .3s ease;
      }
  .navbar-collapse.collapse.in {
          max-height: 2000px;
      }
  .navbar-default .navbar-toggle {
      border: none;
      background-color: white;
  }
  .navbar-default .navbar-nav > li > a {
    color:##daad86;
    font-family:bebas-neue, sans-serif;
    font-size:24px;
  }

  .navbar-default .navbar-nav > li > a:hover {
    text-decoration:underline;
  }

  .navbar-nav {
    margin:7.5px -15px;
  }

  .navbar.navbar-default {
    background-color:#FFF;
    border:none;
  }

.header {
  background-color:#FFF;
  color:#FFF;
}

.message:nth-child(even) {
  background-color:#f8f8f8;
}

.message:nth-child(odd) {
  background-color:#eee;
}



.wrapper {
  margin-bottom:80px;
  margin-top:80px;
}

h3 {
  font-family: bebas-neue, sans-serif;
}



h1.lead {
  font-family: bebas-neue, sans-serif;
  font-size:48px;
  font-style:normal;
  font-weight:400;
  margin:0;
  padding-top:10px;
  color:#daad86;
}

h3 {
  font-family: bebas-neue, sans-serif !important;
  font-style:normal;
  font-weight:500;
}

li {
  float:left;
}

li a {
  color:#FFF;
  display:block;
  padding:14px 16px;
  text-align:center;
  text-decoration:none;
}

li a:hover {
  color:#eee;
  text-decoration:underline;
}

tbody {
  font-size:14px;
}


input.editable-input {
    width: 100%;
}
textarea.notes.editable-input {
    width: 100%;
    height: 55px;
    resize:none;

}
.actionLinks a {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}
input.medList.editable-input {
    margin-bottom: 5px;
}
input.dosageList.editable-input {
    margin-bottom: 5px;
}
input.howOftenList.editable-input {
    margin-bottom: 5px;
}
.name
 {
    width: 15%;
}

.phoneNumber {
    width: 12%;
}

.medication {
    width: 15%;
}

.dosage {
    width: 10%;
}
.notes {
    width: 25%;
}
.howOften {
    width: 10%;
}
.actionButtons {
  width:20%;
}
.form-control {
  height:163px;
  importantwidth:555px;
  resize:none;
}

ul {
  list-style-type:none;
  margin:0;
  overflow:hidden;
  padding:0;
}
