
#container {
  margin-top:10px;
}

#entryForm,.container p {
  margin-top:14px;
}

.actionButtons {
  width:20%;
  vertical-align: middle !important;
}

.actionLinks a {
  cursor:pointer;
  font-size:20px;
  padding:5px;
}

.addMed {
  border:0 solid transparent;
}

.alert.alert-danger.loginError {
  border-radius:0;
  margin:0 auto;
  max-width:380px;
}

.col-md-4.borderRight {
  border-right:2px solid #c9c9c9;
}

.col-md-12.inputForm {
  margin-bottom:25px;
}

.container legend {
  padding:15px;
}

.container td p {
  margin:0;
  padding:0;
}

.dosage,.howOften {
  width:10%;
}

.form-control {
  font-size:16px;
  height:163px;
  importantwidth:555px;
  padding:10px;
  position:relative;
  resize:none;
}

.form-signin {
  background-color:#fff;
  border:1px solid rgba(0,0,0,0.1);
  margin:0 auto;
  max-width:380px;
  padding:15px 35px 45px;
}

.form-signin .checkbox {
  font-weight:400;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
  margin-bottom:30px;
}

.form-signin input[type="password"] {
  border-top-left-radius:0;
  border-top-right-radius:0;
  margin-bottom:20px;
}

.form-signin input[type="text"] {
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  margin-bottom:-1px;
}

.header {
  background-color:#89bdd3;
  color:#FFF;
}

.horizontal-collapse {
  height:70px;
}

.message:nth-child(even) {
  background-color:#f8f8f8;
}

.message:nth-child(odd) {
  background-color:#eee;
}

.name,.medication {
  width:11%;
}
.col-md-4.timeScroll {
    overflow: auto;
    max-height: 207px;
}

.navbar-collapse.collapse {
  -moz-transition:max-height .3s ease;
  -o-transition:max-height .3s ease;
  -webkit-transition:max-height .3s ease;
  display:block;
  max-height:0;
  overflow:hidden;
  transition:max-height .3s ease;
}

.navbar-collapse.collapse.in {
  max-height:2000px;
}

.navbar-collapse.in {
  max-height:2000px;
  overflow-y:hidden;
}

.navbar-default .navbar-nav > li > a {
  color:#FFF!important;
  font-family:le-monde-livre-classic-sc, serif;
  font-size:18px;
  letter-spacing:.125em;
}

.navbar-default .navbar-nav > li > a:hover {
  text-decoration:underline;
}

.navbar-default .navbar-toggle {
  background-color:#FFF;
  border:none;
}

.navbar-nav {
  margin:7.5px -15px;
}

.navbar.navbar-default {
  background-color:#9ad3de;
  border:none;
}
.padding  {
  padding-top:15px !important;
}
.notes {
  width:25%;
}

.phoneNumber {
  width:12%;
}

.wrapper {
  margin-bottom:80px;
  margin-top:80px;
}

body {
  background:#6979FF;
}

body,html {
  font-family:serif;
  font-size:14px;
  margin:0;
  padding:0;
}

h1.lead {
  font-family:le-monde-livre-classic-sc, serif;
  font-size:48px;
  font-style:normal;
  font-weight:500;
  margin:0;
  padding-top:10px;
}
.lead a {
    color: white;
    cursor: pointer;
}
.lead a:hover {
  color: white;
  text-decoration: none;
}

h3 {
  font-family:le-monde-livre-classic-sc, serif!important;
  font-style:normal;
  font-weight:500;
}

input.editable-input {
  border:1px solid #FFF;
  width:100%;
}

input.editable-input:focus,textarea.notes.editable-input:focus {
  border-radius:5px;
}

input.medList.editable-input,input.dosageList.editable-input,input.howOftenList.editable-input {
  margin-bottom:5px;
}

li {
  float:left;
}

li a {
  color:#FFF;
  display:block;
  padding:14px 16px;
  text-align:center;
  text-decoration:none;
}

li a:hover {
  color:#eee;
  text-decoration:underline;
}

tbody {
  font-size:14px;
}

textarea.notes.editable-input {
  border:1px solid #FFF;
  border-radius:5px;
  height:25px;
  resize:none;
  width:100%;
}

ul {
  list-style-type:none;
  margin:0;
  overflow:hidden;
  padding:0;
}
@media only screen and (min-width : 480px) {
  .col-md-4.borderRight {
    border-right: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .borderRight {
    border-right: none;
  }
}
