body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}
/* Login */

body {
	background: #eee !important;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}
.form-signin {
	max-width: 380px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin .form-signin-heading,
  .form-signin .checkbox {
	margin-bottom: 30px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
/* End Login */
#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}
.navbar.navbar-default {
    background-color: white;
    border: none;
}
.container p{
  margin-top : 14px;
}
h1.lead {
    margin: 0;
    padding-top: 10px;
    font-family: bebas-neue, sans-serif;
font-style: normal;
font-weight: 400;
}
.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}


.navbar-brand {
  display: flex;
  align-items: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}
textarea.form-control {
  height: 163px; !important
width: 555px;
resize: none;
}
.container td p {
    margin: 0;
    padding: 0;
}
tbody > tr > td {
     vertical-align: middle !important;
}
