<div ng-include="'views/partials/nav.html'"></div>
<div class="container" ng-controller="PeopleController as patient">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>
              Patient Name
            </th>
            <th>Phone Number</th>
            <th>Notes</th>
            <th>Medication</th>
            <th>Dosage</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>

          <tr ng-repeat="person in patient.people" >
            <td class="align-middle">{{person.name}}</td>
            <td>{{person.phoneNumber}}</td>
            <td>{{person.notes}}</td>
            <td>
              <p ng-repeat="meds in person.allMeds">
                {{meds.medication}}
              </p>
            </td>
            <td>
              <p ng-repeat="meds in person.allMeds">
                {{meds.dosage}}
              </p>
            </td>
            <td><button type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
