<div class="container">
  <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
    <div class="wrapper">


  <form ng-submit="lc.registerUser()" class=form-signin>
    <h2 class="form-signin-heading">Please register</h2>
    <input type="text" class="form-control" name="username" placeholder="Username" ng-model="lc.user.username" required="" autofocus="" />
    <input type="password" ng-model="lc.user.password" class="form-control" name="password" placeholder="Password" required=""/>

    <button class="submit btn btn-md btn-primary" type="submit" name="submit" value="Register" href="#register">Register</button>
     <a href="#home" class="btn btn-link">Cancel</a>
  </form>
</div>
</div>
