<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

  <div class="container" ng-controller="PeopleController as patient">
    <div class="row">
      <form>
        <fieldset>
          <!-- Form Name -->
          <legend>Patient Intake</legend>
          <!-- Text input-->
          <div class="col-md-6">
            <div class="form-group">
              <div>
                <label for="fullName">Patient Name</label>
                <input id="fullName" name="fullName" ng-model="patient.newPerson.name" type="text" placeholder="Name" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <div>
                <label for="phoneNumber">SMS Reminder</label>
                <input id="phoneNumber" name="phoneNumber" ng-model="patient.newPerson.phoneNumber" type="text" placeholder="(xxx) xxx-xxxx" class="form-control input-md">

              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <div>
                <label for="notes">Other information if needed</label>
                <textarea class="form-control" id="notes" name="notes" ng-model="patient.newPerson.notes"></textarea>
              </div>
            </div>
            <button class="btn btn-primary" ng-click="patient.addPerson(patient.newPerson.name, patient.newPerson.phoneNumber, patient.newPerson.notes)">Add Person</button>

          </div>

          <div class="col-md-3">
              <!-- Text input-->
              <div class="form-group">
                <div>
                  <label for="medication">Medication</label>
                  <input name="medication" type="text" placeholder="" ng-model="patient.newPerson.medication" class="form-control input-md">

                </div>
              </div>
            </div>
            <div class="col-md-3">
              <!-- Text input-->
              <div class="form-group">
                <div>
                  <label for="dosage">Dosage/How Often</label>
                  <input name="dosage" type="text" placeholder="" ng-model="patient.newPerson.dosage" class="form-control input-md">

                </div>
                <button type="button" name="button" ng-click="patient.addMedication(patient.newPerson.medication, patient.newPerson.dosage)">+</button>

              </div>
            </div>

        </div>

      </fieldset>
    </form>
  </div>
</div>

</div>
