<div ng-include="'views/partials/nav.html'"></div>
<div class="container mainSection">

  <div class="container" ng-controller="PeopleController as patient">
    <div class="col-md-12 inputForm">
      <div class="row">
        <form>
          <fieldset>
            <!-- Form Name -->
            <legend>Patient Intake</legend>
            <!-- Text input-->
            <div class="col-md-4 col-sm-12 borderRight">
              <div class="form-group">
                <div>
                  <label for="fullName">Patient Name</label>
                  <input id="fullName" name="fullName" ng-model="patient.newPerson.name" type="text" placeholder="Name" class="form-control input-md">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <div>
                  <label for="phoneNumber">Phone Number</label>
                  <!-- Replace with SMS reminder once Twillio works -->
                  <input id="phoneNumber" name="phoneNumber" ui-mask="999-999-9999" ng-model="patient.newPerson.phoneNumber" type="text" class="form-control input-md">

                </div>
              </div>

              <!-- Textarea -->
              <div class="form-group">
                <div>
                  <label for="notes">Notes</label>
                  <textarea class="form-control" id="notes" name="notes" ng-model="patient.newPerson.notes"></textarea>
                </div>
              </div>

            </div>

            <div class="col-md-4 col-sm-12 borderRight">
              <!-- Text input-->
              <div class="form-group">
                <div>
                  <label for="medication">Medication</label>
                  <input name="medication" type="text" placeholder="" ng-model="patient.newPerson.medication" class="form-control input-md">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <div>
                  <label for="dosage">Dosage</label>
                  <input name="dosage" type="text" placeholder="" ng-model="patient.newPerson.dosage" class="form-control input-md">
                </div>
              </div>
              <div class="form-group">
                <div>
                  <label for="dosage">How Often (Times per day)</label>
                  <input name="dosage" type="number" placeholder="" ng-model="patient.newPerson.howOften" class="form-control input-md">
                </div>
              </div>
              <p>
                <p>Adding a medication is not required</p>
              </p>
              <button type="button" class="btn btn-link btn-sm pull-right addMed" name="button" ng-click="patient.addMedication(patient.newPerson.medication, patient.newPerson.dosage, patient.newPerson.howOften)"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div class="col-md-4 col-sm-12">
              <table class="table table-responsive medList">
                <thead>
                  <tr>
                    <th>
                      Medication
                    </th>
                    <th>
                      Dosage
                    </th>
                    <th>
                      How Often
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="meds in patient.allMeds" >
                    <td>
                      <p class="medicationList">{{meds.medication}}</p>
                    </td>
                    <td>
                      <p>{{meds.dosage}}</p>
                    </td>
                    <td>
                      <p>{{meds.howOften}} times per day</p>
                    </td>
                  </tr>

                </tbody>

              </table>
            </div>
          </div>

        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-10">

            </div>
            <div class="col-md-2">
              <button class="btn btnWhite btn-lightBlue btn-md" ng-click="patient.addPerson(patient.newPerson.name, patient.newPerson.phoneNumber, patient.newPerson.notes);">Add Patient</button>

            </div>
          </div>
        </div>

      </fieldset>
    </form>

  </div>
</div>

</div>
